html
{
  height: 100%;
}


body
{
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial',serif;

}

/*Header and Nav bar style*/
header
{
  text-align: center;
  background-image: url(pomme.jpg);
  background-position:center;
}

.logo
{
  border-style: solid;
  border-color: green;
  border-radius: 10px;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding-top: 0.5em;
  overflow: hidden;
  background-color: #FF6600;
}


li
{
  float: left;
  text-align: left;
  margin-left: 12.5em;
}
a{
  text-decoration: none;
  color: white;
}
a:hover
{
  color:red;
}
/*End of styling Header and NavBar*/

/*INDEX PAGES*/

h1
{
  text-align: center;
  font-size: 16px;
}

.mac
{
  width: 300px;
  border-style: solid;
  border-color: #33CC66;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 400px;
  margin-left: 40px;
  padding: 10px 20px;
  margin-right: 10px;
  min-height: 500px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 3px 2px 5px 4px grey;
}

.mac p
{
  font-size: 14px;
max-width: 280px;
}

.macproduit
{
  width: 100%;
  margin: 0 auto;

}

h2
{
  font-size: 16px;
  color: white;
  background-color: #33CC66;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0 -6px;
}
.mac img
{
  max-width: 180px;
  margin: 15px 0 0 0;

}
#squad
{
  max-width: 320px;
  margin: 15px 0 0 0 ;
}

/*Footer*/
footer
{
  width: 100%;
  position: top: 0; right: 0; bottom: 0; left: 0;
}






/*END INDEX PAGES*/




/*PRODUCT PAGES*/
.three img
{
  margin-left: 18em;
  border-style: solid;
  border-radius: 10px;
  color: green;
  margin-top: 100px;
}
.three p
{
text-align: center;
margin-left: 200px;
margin-right: 210px;
}
