html
{
  height: 100%;
}


body
{
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial',serif;
}

/*Header and Nav bar style*/
header
{
  text-align: center;
  background-image: url(pomme.jpg);
  background-position: center;

}

.logo
{
  border-style: solid;
  border-color: green;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding-top: 0.5em;
  overflow: hidden;
  background-color: green;
}


li
{
  float: left;
  text-align: left;
  margin-left: 12.5em;
}
a{
  text-decoration: none;
  color: white;
}
a:hover
{
  color:red;
}
/*End of styling Header and NavBar*/


.mac
{
  width: 300px;
  border-style: solid;
  border-color: green;
  margin-top: 100px;
  margin-bottom: 400px;
  padding: 10px 20px;
  float: left;
}

.mac p
{
  font-size: 14px;
max-width: 280px;
}

.macproduit
{
  width: 1000px;
  margin: 0 auto;
}
